<div class="container">
  <div class="row">
      <div class='col-md-3'>
        <h3 class="my-3 bg-light">管理者ログイン</h3>
      </div>
  </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row">
      <div class="col-md-8 offset-md-1">
        <table>
          <tbody>
            <tr>
              <th>メールアドレス</th>
              <td><%= f.email_field :email, autofocus: true,size:"60%", autocomplete: "email" %></td>
            </tr>
            <tr>
              <th>パスワード</th>
              <td><%= f.password_field :password,size:"60%", autocomplete: "current-password" %></td>
            </tr>
            <tr class="my-5">
              <th></th>
              <td><%= f.submit "ログイン",class: 'btn btn-primary btn-lg' %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <% end %>
</div>




