<div class="container">
  <div class="row my-2 text-center">
    <div class="card-body text-body">
      <h1><strong>About</strong></h1>
    </div>
  </div>
  
  <div class="row text-center">
    <div class="card-body text-body">
      <p>ながのCAKEは全国発送可能なケーキ屋さんです。</p>
      <p>お子様からお年寄りの方までお召し上がりいただけるよう、</p>
      <p>様々なバリエーションをご用意しております。</p>
      <p>また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</p>
      <p>ぜひご注文ください。</p>
    </div>
  </div>
  
  <div class="row text-center">
    <div class="card-body text-body">
      <%= image_tag "cake.jpg", width: '400', height: '300' %>
  </div>
</div>